<div class="main-container">
    <div class="card">
      <div class="card-body">
        <div class="input-group">
          <input type="text" class="form-control task" id="task" placeholder="Task To do.." [(ngModel)]="taskField" >
          <span class="input-group-btn">
              <button type="submit" class="btn btn-primary add-button" (click)="addTodo()"><i class="fas fa-plus"></i></button>
          </span>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let data of taskList; let i = index">
              <input type="checkbox" class="check"> {{ data.task }}</li>
          </ul>
      </div>
  </div>
</div>